<configuration>

	<!-- 로그파일명 -->
	<property name="LOG_FILE" value="./logs/operation.log" />
	<property name="LOG_FILE_TARGET" value="./logs/target.log" />
	<!-- 로그레벨 : 서버 반영 시(INFO), 로컬 개발 시(DEBUG) -->
	<Property name="LOG_LEVEL" value="INFO" />
	
	<!-- 	******************************************************* -->
	<!-- 	******************************************************* -->

	
	 <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	 	<file>${LOG_FILE}</file>
	  	<append>true</append>
	  	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	   	<fileNamePattern>${LOG_FILE}_%d{yyyy-MM-dd}</fileNamePattern>
	   	<maxHistory>30</maxHistory>
	  	</rollingPolicy>
	  	<encoder>
	   		<pattern>[%d{yyyy-MM-dd} %d{HH:mm:ss.SSS}] %-6level %logger{35} - %msg%n</pattern>
	  	</encoder>
	</appender>
 
 
 	<appender name="FILE_TARGET" class="ch.qos.logback.core.rolling.RollingFileAppender">
	 	<file>${LOG_FILE_TARGET}</file>
	  	<append>true</append>
	  	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	   	<fileNamePattern>${LOG_FILE_TARGET}_%d{yyyy-MM-dd}</fileNamePattern>
	   	<maxHistory>30</maxHistory>
	  	</rollingPolicy>
	  	<encoder>
	   		<pattern>[%d{yyyy-MM-dd} %d{HH:mm:ss.SSS}] %-6level %logger{35} - %msg%n</pattern>
	  	</encoder>
	 </appender>

	<appender name="ASYNC_FILE_TARGET" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE_TARGET" />
	</appender>
   	
 	
	<root level="${LOG_LEVEL}">
		<appender-ref ref="FILE"/>
	</root>
	
	 <logger name="targetLogger" level="${LOG_LEVEL}" additivity="false">
	 	<appender-ref ref="FILE_TARGET"/>
    </logger>
</configuration>
